# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.spec
output/
*.log
*.tmp
*.backup

# IDE
.vscode/
.idea/
*.swp
*.swo

# 临时文件
*.tmp
*.log
.migrate_backup/
.migration_history.json
mods_meta_cache.json
.mine*
